<header class="tech-header header">
  <div class="container-fluid">
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url | absolute_url }}">Trang Chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ 'editors-choice' | absolute_url }}">
              Editor's Choices
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ 'about' | absolute_url }}">
              Liên Hệ
            </a>
          </li>
        </ul>
        <ul class="navbar-nav mr-2">
          <li class="nav-item">
            <a class="nav-link" href="{{ 'feed.xml' | absolute_url}}"><i class="fa fa-rss"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
